table {
    width: 50%;
    table-layout: auto;
    text-align: center;
    background-color: lightskyblue;
    border-collapse: collapse;
    margin-left:auto;
    margin-right:auto;

}

#Title{
    text-align: center;
}

th{
    height: 50px;
}